@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <title>Placement Portal</title>
    <style>
        body {
            background-color: #3cb371;
        }

        .header {
            text-align: center;
            padding: 20px;
        }

        .toggle-bar {
            position: fixed;
            top: 0;
            left: 0;
            width: 50px;
            height: 100vh;
            background-color: #f2f2f2;
            padding: 20px;
        }

            .toggle-bar a {
                display: block;
                margin-bottom: 10px;
                text-decoration: none;
                color: #333;
            }

        .content {
            margin-left: 70px;
            padding: 20px;
        }

        h2 {
            font-weight: bold;
        }
    </style>
</head>
<body>
    <div class="content">
        <h2 style="text-align: center">Placement Portal</h2>

        <p style="text-align: center">
            This website serves as a conduit for colleges and students to learn about career placement drives held by various companies. Organizations will update this site with new information on the placement drives. For each company, the colleges can register qualified students. Through this site, students can read interview information and participate in online interviews. The outcome of the interview will be updated in this portal, where the relevant student and their college may view it.
        </p>
    </div>
</body>
</html>
