################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PMS/bin/Debug/net6.0
/.vs
/PMS/obj
/PMS.BLL/bin/Debug
/PMS.BLL/obj
/PMS.BOL/bin/Debug
/PMS.BOL/obj
/PMS.DAL/bin/Debug
/PMS.DAL/obj
